# See https://docs.karakeep.app/configuration for more information
DATA_DIR=<path>
NEXTAUTH_SECRET=<secret>

# Database (optional, defaults to SQLite)
# DATABASE_DIALECT=postgresql
# DATABASE_URL=postgresql://user:password@host:5432/karakeep
